body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #edf2f8;

}

.flex-container {
    max-width: 1400px;
    padding: 6.5rem;
    margin-bottom: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "box1 box1 box2 box5"
        "box1 box1 box2 box5"
        "box3 box4 box4 box5";
    gap: 20px;
}

.middle {
    font-size: 1.2rem;
}



.box1,
.box2,
.box3,
.box4,
.box5 {
    padding: 2rem;
    border-radius: 5px;
}


img {
    border-radius: 50%;
}


/* =====================BOX1======================= */
.box1 {
    grid-area: box1;
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-x: 80%;
    background-size: 122px;
    background-color: rgba(115, 63, 200, 255);
    color: white;

}

.box1 .bottom {
    padding-right: 2.5rem;
}

/* =====================BOX2======================= */
.box2 {
    grid-area: box2;
    background-color: #49556b;
    color: white;
}

.box2 .bottom {
    padding-right: 2rem;
}

/* =====================BOX3======================= */
.box3 {
    grid-area: box3;
    background-color: white;
    color: black;
    padding: 2.8rem;
}

.box3 .middle {
    color: darkslateblue;
}

.box3 .top p {
    color: gray;
}

/* =====================BOX4======================= */
.box4 {
    grid-area: box4;
    background-color: #18202d;
    color: white;
}

.box4 .bottom {
    padding-right: 2.5rem;

}

/* =====================BOX5======================= */
.box5 {
    grid-area: box5;
    background-color: white;
    color: black;
    

}

.box5 .middle {
    color: darkslateblue;

}
.box5 .bottom{
    padding-right: 2.5rem;
}

.box5 .top p {
    color: gray;
}



.top {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 1rem;

}

h2 {
    font-size: 20px;
}

.top p {
    color: #f9f9f9;
    grid-area: title;
    font-size: 0.6875rem;
    opacity: 78%;
    margin-top: 12px;
}

.middle {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.bottom {
    color: lightslategray;
    line-height: 1.5;
}